body {
  font-size: 1.75em; /* currently ems cause chrome bug misinterpreting rems on body element */
  
  line-height: 1.6;
  
  font-weight: 400;
  
  font-family: "Droid Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  color: #222;

  text-align: center; 

}

 #hero{
      padding: 30px;
      background-image: url(/images/workstation.jpg);
      background-size: cover;
    }

.form-cta {
  float: left;
  width: 100%;
  margin-top: 30px;
}

.input-cta {
  width: 70%;
}

.submit-cta {
  vertical-align: top;
  padding: 0;
  width: 25%;
  float: right;
}

.form-footer {
  float: right;
  width: 100%;
  margin-top: 10px;
}

.footer-logo {
  width: 50px;
}

.legal {
  vertical-align: top;
  padding: 0;
  width: 70%;
  float: right;
}

.links {
  padding-top: 20px;
}

.mini-margin {
  margin-bottom: 10px;
}

  .button,
    button,
    input[type="submit"],
    input[type="reset"],
    input[type="button"] {
        /* Add your properties and values here to overwrite the others. */
}
/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  background-color:#ff0000; /* A red background */
}

h1{
  font-family: "Roboto Slab", "HelveticaNeue", Helvetica, serif;
  color: #FEFBF4;
}

h2{
  font-family: "Roboto Slab", "HelveticaNeue", Helvetica, serif;
}

h3{
  font-family: "Roboto Slab", "HelveticaNeue", Helvetica, serif;
}

h4{
  font-family: "Roboto Slab", "HelveticaNeue", Helvetica, serif;
}

h5{
  font-family: "Roboto Slab", "HelveticaNeue", Helvetica, serif;
}

#header{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: auto !important;
}

#logo{
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}

#arrow{
  width: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#what{
  background-color: #FEFBF4;
  padding: 30px;
}

#who{
  background-color: #3E3D3B;
  padding: 30px;

}

#hero{
  height: 80%;
  padding: 30px;
}

#footer{
  background-color: #FEFBF4;
}


#CTA{
  background-color: #4EB96E;
  padding: 50px 0px;

}

.white{
  color: #FEFBF4;
}

.black{
  color: #3E3D3B;
}

.green{
  color: #4EB96E;
}

